<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <style>
    body {
      background-color: rgb(171, 229, 229);
    }
  </style>
  <body>
    <div class="contact">
      <h1>Following are the contact details of our Faculty-</h1>
      <ul>
        <li>
          <p>Kabir Sharma (Senior Manager)</p>
          <hr />
          <p>Contact Number-9814045987</p>
          <hr />
          <p>Email Id-abc@gmail.com</p>
        </li>
        <li>
          <p>Simrat Gill (Manager)</p>
          <hr />
          <p>Contact Number-9980124316</p>
          <hr />
          <p>Email Id-hij@gmail.com</p>
        </li>
        <li>
          <p>Sehaj (Head of Department)</p>
          <hr />
          <p>Contact Number-8734245130</p>
          <hr />
          <p>Email Id-ijk@gmail.com</p>
        </li>
        <li>
          <p>Yogesh (CEO)</p>
          <hr />
          <p>Contact Number-7888840574</p>
          <hr />
          <p>Email Id-xyz@gmail.com</p>
        </li>
      </ul>
    </div>
  </body>
</html>
