<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorial</title>
  </head>
  <style>
    body {
      background-color: rgb(221, 221, 140);
    }
  </style>
  <body>
    <div class="info">
      <h1>Following are the steps to operate the Dhoom Classes server-</h1>
      <ul type="circle">
       <h3> <li>First Login with your registered User ID.</li>
        <li>Then go to Online Class portal on the top right of the page.</li>
        <li>Turn on your camera and microphone.</li>
        <li>Enjoy your experience.</li></h3>
      </ul>
    </div>
    
    <button style="margin-right: 824px; width: 180px; height: 50px; border-radius: 50px; color: red;">
      Download Feedback
    </button>
  </body>
</html>
